@@include('components/_head.pug', {
    "title": "Главная",
})


section.wrapper
    .wrapper-a
        img(src="./img/main/header_bg.png" alt="img")
    .wrapper__leaves
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_1.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_2.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_3.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_4.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_5.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_6.png" alt="img")
    header.header 
        .containers
            a(href="#").header__logo 
                img(src="./svg/main/header_logo.svg" alt="logo")
            ul.header__list
                li.header__item 
                    a(href="#")  Главная
                li.header__item 
                    a(href="#plus")  Сравнение
                li.header__item 
                    a(href="#status")  Область
                li.header__item 
                    a(href="#type")  Применения
                li.header__item 
                    a(href="#comment")  Отзывы
                li.header__item 
                    a(href="#pay")  Заказать  
    main.main
        .containers 
            .main__decor
                .main__decor-a
                    img(src="./img/main/pack_1.png" alt="img")
                .main__decor-b
                    img(src="./img/main/pack_2.png" alt="img")
            .main__title ЭКОЛОГИЧНЫЙ 
                br 
                | ОЧИСТИТЕЛЬ 22 В 1
            .main__text Универсальное чистящее средство, которое станет
                br 
                | незаменимым помощником каждой хозяйки
            ul.main__list
                li.main__item 
                    img(src="./svg/main/arr.svg" alt="icon")
                    p Выводит пятна
                li.main__item 
                    img(src="./svg/main/arr.svg" alt="icon")
                    p Дизенфицирует
                li.main__item 
                    img(src="./svg/main/arr.svg" alt="icon")
                    p Отбеливает
                li.main__item 
                    img(src="./svg/main/arr.svg" alt="icon")
                    p Стирает детское
            a(href="#") 
                .main__btn Заказать на Wildberries
            ul.main__catalog
                li.main__catalog-item   
                    img(src="./svg/main/list_1.svg" alt="icon")
                    p Заменяет десятки различных средств
                li.main__catalog-item   
                    img(src="./svg/main/list_2.svg" alt="icon")
                    p Безопасен для детей и природы
                li.main__catalog-item   
                    img(src="./svg/main/list_3.svg" alt="icon")
                    p Экономит место и бюджет семьи
                li.main__catalog-item   
                    img(src="./svg/main/list_4.svg" alt="icon")
                    p Не выделяет ядовитых паров
            .main__blur
                h5 КОРОЛЬ
                h4 ЧИСТОТЫ

    .wrapper__d
        .wrapper__d-a
            img(src="./img/main/footer_bg.png" alt="img")
        .wrapper__d-b
            img(src="./img/main/add_bg.png" alt="img")
        .wrapper__d-pack
            img(src="./img/main/pack_3.png" alt="icon")
            .wrapper__d-pack-a


section.compound
    .containers 
        .compound__decor
            .compound__decor-i 
            .compound__decor-i 
            .compound__decor-i 
            .compound__decor-i 
        .compound__content 
            .compound__title Безопасный состав
            .compound__text Средство полностью безопасно для применения в доме с маленькими детьми, 
                br
                | а так же гипоаллергенно 
            ul.compound__list 
                li.compound__item 
                    img(src="./svg/compound/icon_1.svg" alt="icon")
                    p Не выделяет ядовитых паров
                li.compound__item 
                    img(src="./svg/compound/icon_2.svg" alt="icon")
                    p Без хлора
                li.compound__item 
                    img(src="./svg/compound/icon_3.svg" alt="icon")
                    p Полностью экологичный
                li.compound__item 
                    img(src="./svg/compound/icon_4.svg" alt="icon")
                    p Безопасен для природы
                li.compound__item 
                    img(src="./svg/compound/icon_5.svg" alt="icon")
                    p Не вызывает аллергии
                li.compound__item 
                    img(src="./svg/compound/icon_6.svg" alt="icon")
                    p Подходит домашним животным

section.money 
    .containers
        .money__decor
        .money__banner
            img(src="./img/money/item.png" alt="image")
        .money__content
            .money__title Экономный выбор
            .money__description Устали тартиться на дорогостоящие средства для каждой задачи отдельно? 
                br
                br 
                | Экоочиститель зменит килограммы бытовой химии, а одной упаковки хватает до полугода на семью из 3 человек! 
                br
                br 
                | Экономьте место на полках и семейный бюджет.
            a(href="#")
                .money__btn Заказать на Wildberries

section.description
    .containers 
        .description__decor
            .description__decor-i
            .description__decor-i
            .description__decor-i
            .description__decor-i

        .description__wrapper
            .description__banner 
                img(src="./img/description/pack.png" alt="image")
            .description__blocks
                .description__block
                    .description__title Средство универсально!
                    ul.description__list 
                        li.description__item Чистка керамической поверхности
                        li.description__item Канализационных труб
                        li.description__item Устранение плесени с плитки и стен
                        li.description__item Загрязнений с кровли, кирпичной кладки, брусчатки
                        li.description__item Обработка деревянной и пластиковой мебели
                        li.description__item И еще более 17 способов применения
                .description__block
                    .description__title За исключением:
                    ul.description__list 
                        li.description__item Мембранных тканей
                        li.description__item Замши
                        li.description__item Меди
                        li.description__item Шелка
                        li.description__item Кожи
                        li.description__item Нубука
                        li.description__item Алюминия
                        li.description__item Шерсти

section.blocks
    a(name="plus")
    .plus
        .containers 
            .plus__title Выбирать будет проще, если сравнить
            .plus__table 
                .plus__table-a
                    img(src="./img/plus/img_1.png" alt="img")
                .plus__table-b
                    img(src="./img/plus/img_2.png" alt="img")
                .plus__table-h 
                    .plus__table-h__a
                    .plus__table-h__i ЭкоОчиститель
                    .plus__table-h__i Другие средства
                .plus__table-list 
                    .plus__table-list__i 
                        p Не содержит хлор и фосфаты
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Устраняет пятна даже в холодной воде 30С
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Гигиеническая обработка
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Устраняет неприятные запахи
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Сохраняет яркость цвета
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Предотвращает взаимное окрашивание
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Очищает до 93% пятен
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p 22 способа применения
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")

    a(name="status")
    .status
        .containers
            .status__title Подходит для ручной и машинной
            .status__add СТИРКИ
            .status__blocks
                .status__images
                    .status__images-i 
                        img(src="./img/status/item_1.png" alt="image")
                    .status__images-i 
                        img(src="./img/status/item_2.png" alt="image")
                    .status__images-i 
                        img(src="./img/status/item_3.png" alt="image")
                .status__block 
                    ul.status__list
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Подходит для септиков
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Отбеливает 
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Выводит пятна
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Подходит для детей
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Устраняет запах
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Убивает бактерии
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Стирает сложные пятна
                    .status__adds 
                        p Наиболее эффективное
                            br
                            | очищение при
                        h5 60 &nbsp; С

section.line 
    .containers
        .line__block
            .line__title Акция, только до 23 числа. Закажите ЭкоОчиститель со скидкой 20% по промокоду ЛЕТО2022
            a(href="#").line__link Заказать

a(name="type")
section.type 
    .containers
        .type__title Универсальное средство для очищения
        .type__text Универсальное чистящее средство, которое станет
            br
            | незаменимым помощником каждой хозяйки
        ul.type__list
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_1.png" alt="image")
                .type__item-t Чистит трубы канализации
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_2.png" alt="image")
                .type__item-t Убирает грибок и плесень 
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_3.png" alt="image")
                .type__item-t Очищает различные поверхности
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_4.png" alt="image")
                .type__item-t Убирает пятна на коврах и ковролине
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_5.png" alt="image")
                .type__item-t Чистит лотки и аквариумы
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_6.png" alt="image")
                .type__item-t Убирает въешийся жир с посуды
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_7.png" alt="image")
                .type__item-t Отбеливает подошву обуви
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_8.png" alt="image")
                .type__item-t Убирает любые сложные загрязнения

a(name="comment")
section.comment 
    .containers
        .comment__stars
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
        .comment__title Клиенты любят ЭкоОчиститель
        .comment__text На нашей карточке на Wildberries более 130 отзывов со средней оценкой 4.9 из 
            br 
            | 5. Убедитесь в эффективности сами:
        ul.comment__list 
            li.comment__item 
                img(src="./img/comment/comment_1.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_2.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_3.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_4.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_5.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_6.png" alt="image")
        a(href="#")
            .comment__btn Смотреть все отзыва на Wildeberries

section.gallery
    .containers 
        .gallery__title Все еще не верите?
        .gallery__text Слова словами, но посмотрите что присылают нам довольные клиенты
        .gallery__list 
            .gallery__item 
                img(src="./img/gallery/photo_1.png" alt="photo")
                img(src="./img/gallery/photo_2.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_3.png" alt="photo")
                img(src="./img/gallery/photo_4.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_5.png" alt="photo")
                img(src="./img/gallery/photo_6.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_7.png" alt="photo")
                img(src="./img/gallery/photo_8.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_9.png" alt="photo")
                img(src="./img/gallery/photo_10.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_11.png" alt="photo")
                img(src="./img/gallery/photo_12.png" alt="photo")

section.report 
    .containers
        .report__image
            img(src="./img/report/item.png" alt="photo")
        .report__block

            .report__title Меры предосторожности
            .report__text Перед использованием прочтите инструкцию. 
                br 
                | Применять строго по назначению с применением перчатоки средств защиты глаз. При попадании в глаза осторожно промыть их большим количеством воды в течение нескольких минут. 
                br 
                br
                | В случае попадания в рот прополоскать его водой. После промывания немедленно обратиться к врачу и показать упаковку. При попадании на кожу промыть тщательно водой.
                br 
                br
                | Хранить в сухом, прохладном и недоступном для детей месте, на безопасном расстоянии от горючих материалов при температуре не выше +30С. По истечении срока годности утилизировать.

a(name="pay")
section.pay
    .containers 
        .pay__decors
            .pay__decors-i 
            .pay__decors-i
            .pay__decors-i
            .pay__decors-i
        .pay__wrapper 
            .pay__title Доставка и оплата
            .pay__block 
                .pay__item
                    .pay__text Бесплатно доставим ЭкоОчиститель по РФ до ближайшего пункта выдачи Wildberries
                    .pay__image 
                        img(src="./img/pay/box.png" alt="image")
                        img(src="./img/pay/pack.png" alt="image")
                .pay__item
                    .pay__text Оплатите товар любым удобным способом. Мы принимаем все банковские карты и платежные системы
                    ul.pay__list
                        li.pay__list-i
                            img(src="./svg/pay/pay_1.svg" alt="icon")
                        li.pay__list-i
                            img(src="./svg/pay/pay_2.svg" alt="icon")
                        li.pay__list-i
                            img(src="./svg/pay/pay_3.svg" alt="icon")
                        li.pay__list-i
                            img(src="./svg/pay/pay_4.svg" alt="icon")
                        li.pay__list-i
                            img(src="./svg/pay/pay_5.svg" alt="icon")




section.accordion
    .containers 
        .accordion__t Инструкция к применению
        .accordion__a Помните, что Эко-очиститель ЭФФЕКТИВЕН при температуре 50-100 градусов
        .accordion__w
            .accordion__block
                .accordion__header
                    .accordion__title Усилитель порошка
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p 20-30 г добавить к порошку при стирке в отсек стиральной машины. Температурный режим стирки 50 градусов
            .accordion__block
                .accordion__header
                    .accordion__title Отбеливатель
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p - для лёгких загрязнений растворить 30 г Эко-очистителя в 10л горячей воды 
                        br 
                        | - для умеренных загрязнений - 50 г на 10 л горячей воды 
                        br 
                        | - для сильных загрязнений - 100г на 10 л горячей воды
                        br
                        | Время замачивания от 1 часа
            .accordion__block
                .accordion__header
                    .accordion__title Пятновыводитель
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p - для лёгких загрязнений растворить 30 г Эко-очистителя в 10л горячей воды 
                        br 
                        | - для умеренных загрязнений - 50 г на 10 л горячей воды 
                        br 
                        | - для сильных загрязнений - 100г на 10 л горячей воды
                        br
                        | Время замачивания от 1 часа

            .accordion__block
                .accordion__header
                    .accordion__title Стиральный порошок
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p - для лёгких загрязнений растворить 30 г Эко-очистителя в 10л горячей воды 
                        br 
                        | - для умеренных загрязнений - 50 г на 10 л горячей воды 
                        br 
                        | - для сильных загрязнений - 100г на 10 л горячей воды
                        br
                        | Время замачивания от 1 часа
            .accordion__block
                .accordion__header
                    .accordion__title Отбеливание постельного белья и тюлей
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворить 100 г Эко-очистителя в 10 л тёплой воды при температуре 50 градусов
                        br 
                        | Время замачивания от 1 часа 
            .accordion__block
                .accordion__header
                    .accordion__title Чистка кастрюль, сковородок, чайников
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 50 г в 1 литре горячей воды. Замочите посуду на 15-20 минут. После промойте проточной водой.
            .accordion__block
                .accordion__header
                    .accordion__title Чистка столовых приборов
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 25-30 г в 1 литре горячей воды и залейте столовые приборы. Выдержите их в растворе 30 минут, далее промойте под проточной водой.
            .accordion__block
                .accordion__header
                    .accordion__title Средство для посудомоечной машины
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Добавьте 25-30 г Эко-очистителя в отсек посудомоечной машины, установите режим интенсивного мытья при температуре выше 70 градусов.
            .accordion__block
                .accordion__header
                    .accordion__title Чистка духовки и плиточных панелй
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 40 г Эко-очистителя на 1 литр воды и остудите до комфортной температуры, данным раствором промойте загрязнённую поверхность. Далее промойте проточной водой.
            .accordion__block
                .accordion__header
                    .accordion__title Удаление жира
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 40 г Эко-очистителя на каждый литр воды и остудите до комфортной температуры, данным раствором промойте загрязнённую поверхность. После промойте проточной водой.
            .accordion__block
                .accordion__header
                    .accordion__title Устранение налета
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 40 г Эко-очистителя на каждый литр воды и остудите до комфортной температуры, данным раствором промойте поверхность с налетом. После промойте проточной водой.

            .accordion__block
                .accordion__header
                    .accordion__title Чистка вытяжки
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p растворите 30-50 г на каждый литр горячей воды и поместите вытяжку в данный раствор. Выдержите 30 минут, далее промойте под проточной водой.

            .accordion__block
                .accordion__header
                    .accordion__title Чистка санузла
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 40 г Эко-очистителя на каждый литр воды и остудите до комфортной температуры, данным раствором можно промыть поверхности раковины, ванной, душевой кабины, бассейна и т.п.
            .accordion__block
                .accordion__header
                    .accordion__title Чистка кафеля
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 40 г Эко-очистителя на каждый литр воды и остудите до комфортной температуры, данным раствором можно промыть необходимые поверхности
            .accordion__block
                .accordion__header
                    .accordion__title Чистка мебели
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 30-40 г в 1 литре теплой. Намочите данным раствором загрязнённую поверхность и оставьте на 10-15 минут. Далее промокните чистой тканью или бумажным полотенцем. При сильных загрязнениях повторите данную процедуру ещё раз. После завершения чистки промойте мебель чистой водой и промокните влагу чистой тканью или полотенцем.

            .accordion__block
                .accordion__header
                    .accordion__title Чистка ковров
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 30-40 г в 1 литре теплой. Намочите данным раствором загрязнённую поверхность и оставьте на 10-15 минут. Далее промокните чистой тканью или бумажным полотенцем. При сильных загрязнениях повторите данную процедуру ещё раз. После завершения чистки промойте мебель чистой водой и промокните влагу чистой тканью или полотенцем.

            .accordion__block
                .accordion__header
                    .accordion__title Средство для мытья пола
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 30-40 г Эко-очистителя на каждый литр воды и остудите до комфортной температуры, данным раствором можно мыть пол. 

            .accordion__block
                .accordion__header
                    .accordion__title Дезинфекция поверхностей
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 60-80 г Эко-очистителя в 1 литре кипятка. Остудите раствор до комфортной температуры.
                        br 
                        | Обработайте данным раствором необходимые поверхности и оставьте на 10 минут. Ополосните проточной водой. Используйте раствор для очищения и обеззараживания стен, полов, сантехники, рабочих поверхностей.

            .accordion__block
                .accordion__header
                    .accordion__title Устранение грибка
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 50-60 г на каждый литр горячей воды. Хорошо намочите необходимую поверхность и оставьте на 1 час. 
                        br 
                        | Далее почистите поверхность щеткой и тщательно. Обратите внимание, некоторые виды грибков могут быть устойчивы к воздействию Эко-очистителя.

            .accordion__block
                .accordion__header
                    .accordion__title Устранение засоров и чистка труб
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Засыпьте отверстие слива 100 г Эко-очистителя, залейте 1-2 л воды и оставьте на 15-20 минут. При сильных заборах повторите данную процедуру ещё раз.

            .accordion__block
                .accordion__header
                    .accordion__title Чистка лотков и аквариумов
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 40-50 г Эко-очистителя на каждый литр воды и остудите до комфортной температуры, данным раствором можно очистить аквариумы, лотки, вольеры и т.а.  После промойте проточной водой.

            .accordion__block
                .accordion__header
                    .accordion__title Устранение неприятных запахов
                    button.accordion__close
                        img(src="./svg/accordion/close.svg" alt="icon")
                .accordion__content 
                    p Растворите 40-50 г на каждый литр горячей воды. Данным раствором можно протирать и мыть источник запаха. Для большего эффекта оставьте раствор на 10-15 минут, далее смойте чистой водой.

    .accordion__p Показать еще

footer.footer 
    .containers
        a(href="#").footer__block 
            img(src="./svg/main/header_logo.svg" alt="logo")

@@include('components/_script.pug')