@@include('components/_head.pug', {
    "title": "Главная",
})


section.wrapper
    .wrapper__leaves
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_1.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_2.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_3.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_4.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_5.png" alt="img")
        .wrapper__leaves-i 
            img(src="./img/main/decor_list_6.png" alt="img")
    header.header 
        .containers
            a(href="#").header__logo 
                img(src="./svg/main/header_logo.svg" alt="logo")
            ul.header__list
                li.header__item 
                    a(href="#")  Главная
                li.header__item 
                    a(href="#plus")  Сравнение
                li.header__item 
                    a(href="#status")  Область
                li.header__item 
                    a(href="#type")  Применения
                li.header__item 
                    a(href="#comment")  Отзывы
                li.header__item 
                    a(href="#pay")  Заказать  
    main.main
        .containers 
            .main__decor
            .main__title ЭКОЛОГИЧНЫЙ 
                br 
                | ОЧИСТИТЕЛЬ 22 В 1
            .main__text Универсальное чистящее средство, которое станет
                br 
                | незаменимым помощником каждой хозяйки
            ul.main__list
                li.main__item 
                    img(src="./svg/main/arr.svg" alt="icon")
                    p Выводит пятна
                li.main__item 
                    img(src="./svg/main/arr.svg" alt="icon")
                    p Дизенфицирует
                li.main__item 
                    img(src="./svg/main/arr.svg" alt="icon")
                    p Отбеливает
                li.main__item 
                    img(src="./svg/main/arr.svg" alt="icon")
                    p Стирает детское
            a(href="#") 
                .main__btn Заказать на Wildberries
            ul.main__catalog
                li.main__catalog-item   
                    img(src="./svg/main/list_1.svg" alt="icon")
                    p Заменяет десятки различных средств
                li.main__catalog-item   
                    img(src="./svg/main/list_2.svg" alt="icon")
                    p Безопасен для детей и природы
                li.main__catalog-item   
                    img(src="./svg/main/list_3.svg" alt="icon")
                    p Экономит место и бюджет семьи
                li.main__catalog-item   
                    img(src="./svg/main/list_4.svg" alt="icon")
                    p Не выделяет ядовитых паров
            .main__blur
                h5 КОРОЛЬ
                h4 ЧИСТОТЫ

    .wrapper__d
        .wrapper__d-pack

section.compound
    .containers 
        .compound__decor
            .compound__decor-i 
            .compound__decor-i 
            .compound__decor-i 
            .compound__decor-i 
        .compound__content 
            .compound__title Безопасный состав
            .compound__text Средство полностью безопасно для применения в доме с маленькими детьми, 
                br
                | а так же гипоаллергенно 
            ul.compound__list 
                li.compound__item 
                    img(src="./svg/compound/icon_1.svg" alt="icon")
                    p Не выделяет ядовитых паров
                li.compound__item 
                    img(src="./svg/compound/icon_2.svg" alt="icon")
                    p Без хлора
                li.compound__item 
                    img(src="./svg/compound/icon_3.svg" alt="icon")
                    p Полностью экологичный
                li.compound__item 
                    img(src="./svg/compound/icon_4.svg" alt="icon")
                    p Безопасен для природы
                li.compound__item 
                    img(src="./svg/compound/icon_5.svg" alt="icon")
                    p Не вызывает аллергии
                li.compound__item 
                    img(src="./svg/compound/icon_6.svg" alt="icon")
                    p Подходит домашним животным

section.money 
    .containers
        .money__decor
        .money__banner
            img(src="./img/money/item.png" alt="image")
        .money__content
            .money__title Экономный выбор
            .money__description Устали тартиться на дорогостоящие средства для каждой задачи отдельно? 
                br
                br 
                | Экоочиститель зменит килограммы бытовой химии, а одной упаковки хватает до полугода на семью из 3 человек! 
                br
                br 
                | Экономьте место на полках и семейный бюджет.
            a(href="#")
                .money__btn Заказать на Wildberries

section.description
    .containers 
        .description__decor
            .description__decor-i
            .description__decor-i
            .description__decor-i
            .description__decor-i

        .description__wrapper
            .description__banner 
                img(src="./img/description/pack.png" alt="image")
            .description__blocks
                .description__block
                    .description__title Средство универсально!
                    ul.description__list 
                        li.description__item Чистка керамической поверхности
                        li.description__item Канализационных труб
                        li.description__item Устранение плесени с плитки и стен
                        li.description__item Загрязнений с кровли, кирпичной кладки, брусчатки
                        li.description__item Обработка деревянной и пластиковой мебели
                        li.description__item И еще более 17 способов применения
                .description__block
                    .description__title За исключением:
                    ul.description__list 
                        li.description__item Мембранных тканей
                        li.description__item Замши
                        li.description__item Меди
                        li.description__item Шелка
                        li.description__item Кожи
                        li.description__item Нубука
                        li.description__item Алюминия
                        li.description__item Шерсти

section.blocks
    a(name="plus")
    .plus
        .containers 
            .plus__title Выбирать будет проще, если сравнить
            .plus__table 
                .plus__table-h 
                    .plus__table-h__i ЭкоОчиститель
                    .plus__table-h__i Другие средства
                .plus__table-list 
                    .plus__table-list__i 
                        p Не содержит хлор и фосфаты
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Устраняет пятна даже в холодной воде 30С
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Гигиеническая обработка
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Устраняет неприятные запахи
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Сохраняет яркость цвета
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Предотвращает взаимное окрашивание
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p Очищает до 93% пятен
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")
                    .plus__table-list__i 
                        p 22 способа применения
                        img(src="./svg/plus/check.svg" alt="icon")
                        img(src="./svg/plus/none.svg" alt="icon")

    a(name="status")
    .status
        .containers
            .status__title Подходит для ручной и машинной
            .status__add СТИРКИ
            .status__blocks
                .status__images
                    .status__images-i 
                        img(src="./img/status/item_1.png" alt="image")
                    .status__images-i 
                        img(src="./img/status/item_2.png" alt="image")
                    .status__images-i 
                        img(src="./img/status/item_3.png" alt="image")
                .status__block 
                    ul.status__list
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Подходит для септиков
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Отбеливает 
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Выводит пятна
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Подходит для детей
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Устраняет запах
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Убивает бактерии
                        li.status__list-i 
                            img(src="./svg/status/check.svg" alt="icon")
                            p Стирает сложные пятна
                    .status__adds 
                        p Наиболее эффективное
                            br
                            | очищение при
                        h5 60 &nbsp; С

section.line 
    .containers
        .line__block
            .line__title Акция, только до 23 числа. Закажите ЭкоОчиститель со скидкой 20% по промокоду ЛЕТО2022
            a(href="#").line__link Заказать

a(name="type")
section.type 
    .containers
        .type__title Универсальное средство для очищения
        .type__text Универсальное чистящее средство, которое станет
            br
            | незаменимым помощником каждой хозяйки
        ul.type__list
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_1.png" alt="image")
                .type__item-t Чистит трубы канализации
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_2.png" alt="image")
                .type__item-t Убирает грибок и плесень 
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_3.png" alt="image")
                .type__item-t Очищает различные поверхности
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_4.png" alt="image")
                .type__item-t Убирает пятна на коврах и ковролине
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_5.png" alt="image")
                .type__item-t Чистит лотки и аквариумы
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_6.png" alt="image")
                .type__item-t Убирает въешийся жир с посуды
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_7.png" alt="image")
                .type__item-t Отбеливает подошву обуви
            li.type__item 
                .type__item-i 
                    img(src="./img/type/img_8.png" alt="image")
                .type__item-t Убирает любые сложные загрязнения

a(name="comment")
section.comment 
    .containers
        .comment__stars
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
            .comment__stars-i 
                img(src="./svg/comment/star.svg" alt="icon")
        .comment__title Клиенты любят ЭкоОчиститель
        .comment__text На нашей карточке на Wildberries более 130 отзывов со средней оценкой 4.9 из 
            br 
            | 5. Убедитесь в эффективности сами:
        ul.comment__list 
            li.comment__item 
                img(src="./img/comment/comment_1.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_2.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_3.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_4.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_5.png" alt="image")
            li.comment__item 
                img(src="./img/comment/comment_6.png" alt="image")
        a(href="#")
            .comment__btn Смотреть все отзыва на Wildeberries

section.gallery
    .containers 
        .gallery__title Все еще не верите?
        .gallery__text Слова словами, но посмотрите что присылают нам довольные клиенты
        .gallery__list 
            .gallery__item 
                img(src="./img/gallery/photo_1.png" alt="photo")
                img(src="./img/gallery/photo_2.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_3.png" alt="photo")
                img(src="./img/gallery/photo_4.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_5.png" alt="photo")
                img(src="./img/gallery/photo_6.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_7.png" alt="photo")
                img(src="./img/gallery/photo_8.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_9.png" alt="photo")
                img(src="./img/gallery/photo_10.png" alt="photo")
            .gallery__item 
                img(src="./img/gallery/photo_11.png" alt="photo")
                img(src="./img/gallery/photo_12.png" alt="photo")

section.report 
    .containers
        .report__image
            img(src="./img/report/item.png" alt="photo")
        .report__block

            .report__title Меры предосторожности
            .report__text Перед использованием прочтите инструкцию. 
                br 
                | Применять строго по назначению с применением перчатоки средств защиты глаз. При попадании в глаза осторожно промыть их большим количеством воды в течение нескольких минут. 
                br 
                br
                | В случае попадания в рот прополоскать его водой. После промывания немедленно обратиться к врачу и показать упаковку. При попадании на кожу промыть тщательно водой.
                br 
                br
                | Хранить в сухом, прохладном и недоступном для детей месте, на безопасном расстоянии от горючих материалов при температуре не выше +30С. По истечении срока годности утилизировать.

a(name="pay")
section.pay
    .containers 
        .pay__decors
            .pay__decors-i 
            .pay__decors-i
            .pay__decors-i
            .pay__decors-i
        .pay__wrapper 
            .pay__title Доставка и оплата
            .pay__block 
                .pay__item
                    .pay__text Бесплатно доставим ЭкоОчиститель по РФ до ближайшего пункта выдачи Wildberries
                    .pay__image 
                        img(src="./img/pay/box.png" alt="image")
                        img(src="./img/pay/pack.png" alt="image")
                .pay__item
                    .pay__text Оплатите товар любым удобным способом. Мы принимаем все банковские карты и платежные системы
                    ul.pay__list
                        li.pay__list-i
                            img(src="./svg/pay/pay_1.svg" alt="icon")
                        li.pay__list-i
                            img(src="./svg/pay/pay_2.svg" alt="icon")
                        li.pay__list-i
                            img(src="./svg/pay/pay_3.svg" alt="icon")
                        li.pay__list-i
                            img(src="./svg/pay/pay_4.svg" alt="icon")
                        li.pay__list-i
                            img(src="./svg/pay/pay_5.svg" alt="icon")

footer.footer 
    .containers
        a(href="#").footer__block 
            img(src="./svg/main/header_logo.svg" alt="logo")

@@include('components/_script.pug')